* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #333;
  color: #d9d9d9;
  letter-spacing: 3px;
  min-height: 100%;
  padding: 3% 0 60px;
  position: relative;
}

h1 {
  font: 1.2em/28px Adamina, serif;
}

h2 {
  font: 1em/24px Adamina, serif;
}

#entered-num {
  background-color: #595959;
  border: 1px solid #595959;
  border-radius: 0;
  color: #d9d9d9;
  font-size: 1.5em;
  height: 150%;
  letter-spacing: 2px;
  margin: 8% auto;
  max-width: 150px;
}

#entered-num:focus {
  border: 1px solid #fff2cc;
  box-shadow: none;
}

.roman-numeral {
  color: #d9d9d9;
  font: 6vw Adamina, serif;
  letter-spacing: 8px;
}

footer {
  background-color: #595959;
  bottom: 0;
  color: #d9d9d9;
  font-size: 1.2rem;
  left: 0;
  letter-spacing: 2px;
  margin: 0;
  padding: 12px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
  color: #fff2cc;
}

@media only screen and (min-width: 600px) {

  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.2em;
  }
}
