html {
  background: #333;
}

header {
  padding-top: 3%;
}

h1 {
  color: #d9d9d9;
  font-family: Adamina, serif;
  font-size: 1.2rem;
  letter-spacing: 3px;
  line-height: 1.7;
  margin: 2% 0 1%;
}

h2 {
  color: #d9d9d9;
  font-family: Adamina, serif;
  letter-spacing: 3px;
  line-height: 1.7;
  margin: 2% 0 1%;
}

main {
  padding-bottom: 60px;
}

#entered-num {
  background: #595959;
  border: 1px solid #595959;
  color: #d9d9d9;
  display: block;
  font-size: 1.3rem;
  letter-spacing: 2px;
  padding: 5px 10px;
  margin: 6% auto;
  max-width: 150px;
  text-align: left;
}

#entered-num:focus {
  border: 1px solid #fff2cc;
  outline: none;
}

.roman-numeral {
  color: #d9d9d9;
  font-family: Adamina, serif;
  font-size: 6vw;
  letter-spacing: 8px;
}

.error {
  background: #fcf8e3;
  border: 1px solid #faebcc;
  border-radius: 3px;
  color: #8a6d3b;
  display: block;
  line-height: 20px;
  margin: 10px auto;
  max-width: 700px;
  padding: 15px 10px;
  text-align: center;
  width: 100%;
}

footer {
  background: #595959;
  bottom: 0;
  color: #d9d9d9;
  font-size: 0.8rem;
  left: 0;
  letter-spacing: 2px;
  padding: 14px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
  color: #fff2cc;
}

@media only screen and (min-width: 600px) {

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.1rem;
  }
}
